absl-py==1.4.0
alembic==1.11.1
cachetools==5.3.1
certifi==2024.2.2
charset-normalizer==3.1.0
cloudpickle==2.2.1
cmaes==0.9.1
colorlog==6.7.0
contourpy==1.1.0
cycler==0.11.0
decorator==4.4.2
fonttools==4.50.0
google-auth==2.28.2
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.62.1
gym==0.26.2
gym-notices==0.0.8
idna==3.7
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.6.0
importlib-resources==5.12.0
kaleido==0.2.1
kiwisolver==1.4.4
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.23.3
oauthlib==3.2.2
opencv-python==4.7.0.72
optuna==3.2.0
packaging==23.1
pandas==1.5.3
pillow==10.3.0
plotly==5.15.0
proglog==0.1.10
protobuf==4.23.2
psutil==5.9.5
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyglet==2.0.7
pynvml==11.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
reportlab==3.6.13
requests==2.32.3
requests-oauthlib==1.3.1
rsa==4.9
seaborn==0.12.2
six==1.16.0
SQLAlchemy==2.0.16
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tqdm==4.66.4
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.2.1
Werkzeug==3.0.3
zipp==3.15.0
